# Android Studio files
.idea
*.iml

# Gradle / SDK files
.gradle
build
local.properties

# Files created as part of the build.
app/src/main/res/raw/*.bin
app/src/main/res/raw/*_stats.txt
app/src/test/resources/*.bin
app/src/test/resources/*_stats.txt
